@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.conteudo {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
    height: 300px;
    font-size: 10px;
    margin-left: 100px;
    margin-right: 100px;
}



#logo {
    height: 150px;
}

.conteudo input {
    height: 20px;

}

#data {
    text-align: center;
    margin-right: 20px;
    outline-style: none;
}

.recibo {
    font-size: 40px;
}

/*  Telas menores que 600px */
@media screen and (max-width: 500px) {
    .conteudo {
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }

    #data {
        margin-right: 5px;
    }
}